<!-- partials are parts of ejs template that are repetitive and can be replaced with a singular function -->

<nav>
  <h1>navigation</h1>
  <ul>
    <li><a href="/points">points tracker</a></li>
    <li><a href="/diceroll">roll dice</a></li>
  </ul>
</nav>