<form action="/index" method="post">
  <input type="text" name="player1" placeholder="player 1" />
  <input type="text" name="player2" placeholder="player 2" />
  <button type="submit">submit</button>
</form>