<nav>
  <h1>navigation</h1>
  <ul>
    <li><a href="/points">points tracker</a></li>
    <li><a href="/diceroll">roll dice</a></li>
  </ul>
</nav>

<head>
  <title>Increment Decrement Counter</title>
  <!-- <link rel="stylesheet" href="styles.css" /> -->
  <script src="app.js" defer></script>
</head>

<body>
  <div class="turn counter">
    <div id="points display">

    </div>

</body>

<footer>
  <ul>
    <li><a href="/">start over</a></li>
    <ul>
</footer>